#relatorio{
    margin-bottom: 25px;
}
#tabela{
 text-align: center;
}
#nav{
    margin-bottom: 25px; 

   }
#cadastro{
    margin-left:5px;
    
}

/** header e footer */

.bg-primary2{
    background-color: #3e5f8a !important;
}
#logo{
    width: 100%;
    position: relative;
    margin-bottom: 0px;
}
#pagina{
    margin-left:550px;
}
#id{
margin-left:20px;
}
